/*  Video section starts here */

@charset "utf-8";

/* CSS Document */

#headerPopup,
#headerPopup2,
#headerPopup3 {
    width: 75%;
    margin: 0 auto;
}

#headerPopup iframe,
#headerPopup2 iframe,
#headerPopup3 iframe {
    width: 100%;
    margin: 0 auto;
}

.video_section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.video_table {
    height: 100px;
    background: white;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.video_col {
    width: 33.33%;
    height: 200px;
    padding: 2;
    margin: 0;
}

img.video_image {
    opacity: 0.9;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.71;
}

.container .btn:hover {
    background-color: red;
    opacity: 1;
}


/* Video section ends here  */